/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #0066cc;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0066cc;
    overflow: hidden;
}

li {
    float: left;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: #555;
}
