<!-- interactions_home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactions Home</title>
</head>
<body>
    <h1>Welcome to RxCheck!</h1>

    <!-- Linked tab elements -->
    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'search_drug' %}">Search Drug</a></li>
        <li><a href="{% url 'login_page' %}">Login</a></li>

    </ul>

    <!-- Content specific to the home page -->
    <!-- ... -->

</body>
</html>
