<!-- interactions_home.html -->

{%  load static  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactions Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Welcome to RxCheck!</h1>

    <!-- Linked tab elements -->
    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'search_drug' %}">Search Drug</a></li>

        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}

    </ul>

    {% block content %}
      <p>RxCheck is a drug interaction interface that helps you check for potential interactions between different medications.
         Whether you are a healthcare professional or an individual managing your own medications, RxCheck provides valuable
         information to ensure the safety of drug combinations.</p>
    {% endblock %}

</body>
</html>
